@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
}

@font-face {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
}

ol,
ul {
  list-style: none;
}
